##设置回调
$!callback.setFileName($tool.append($tableInfo.name, ".java"))
$!callback.setSavePath($tool.append($tableInfo.savePath, "/entity"))

#if($tableInfo.savePackageName)package $!{tableInfo.savePackageName}.#{end}entity;

#foreach($import in $importList)
import $!import;
#end

/**
 * $!{tableInfo.comment}($!{tableInfo.name})表实体类
 *
 * @author $!author
 * @since $!time.currTime()
 */
public class $!{tableInfo.name} {
#foreach($column in $tableInfo.fullColumn)
    #if(${column.comment})//${column.comment}#end

    private $!{tool.getClsNameByFullName($column.type)} $!{column.name};
#end

#foreach($column in $tableInfo.fullColumn)

    public $!{tool.getClsNameByFullName($column.type)} get$!{tool.firstUpperCase($column.name)}() {
        return $!{column.name};
    }

    public void set$!{tool.firstUpperCase($column.name)}($!{tool.getClsNameByFullName($column.type)} $!{column.name}) {
        this.$!{column.name} = $!{column.name};
    }
#end

}