##导入宏定义、设置包名、类名、文件名##导入宏定义
$!{define.vm}
#setPackageSuffix("controller")
#setTableSuffix("Controller")
#save("/controller", "Controller.java")

##拿到主键
#if(!$tableInfo.pkColumn.isEmpty())
    #set($pk = $tableInfo.pkColumn.get(0))
#end
##定义服务名
#set($serviceSortType = $!tool.append($!tableInfo.name, "Service"))
#set($serviceType = $!tool.append($!tableInfo.savePackageName, ".service.", $serviceSortType))
#set($serviceVarName = $!tool.firstLowerCase($serviceSortType))

#set($entityShortType = $!tableInfo.name)
#set($entityType = $!tableInfo.psiClassObj.getQualifiedName())
#set($entityVarName = $!tool.firstLowerCase($!tableInfo.name))
#set($pkType = $!pk.type)

import $pkType;
import $entityType;
import $serviceType;
import lombok.AllArgsConstructor;
import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;


/**
 * $!{tableInfo.comment}控制层
 *
 * @author $!author
 * @since $!time.currTime()
 */
@RestController
@RequestMapping("/$!tool.firstLowerCase($!tableInfo.name)")
@AllArgsConstructor
public class $!{tableName} {

	private $serviceSortType $serviceVarName;

	/**
	 * 获取$!{tableInfo.comment}列表(分页)
	 */
	@GetMapping("/list")
	public Page<$entityShortType> list(Pageable page) {
		return null;
	}

	/**
	 * 获取$!{tableInfo.comment}
	 */
	@GetMapping("/get")
	public $entityShortType get($!pk.shortType id) {
		return ${serviceVarName}.findById(id);
	}

	/**
	 * 添加$!{tableInfo.comment}
	 */
	@PostMapping("/add")
	public void add(@RequestBody $entityShortType $entityVarName) {
		${serviceVarName}.save($entityVarName);
	}


	/**
	 * 修改$!{tableInfo.comment}
	 */
	@PostMapping("/update")
	public void update(@RequestBody $entityShortType $entityVarName) {
		${serviceVarName}.save($entityVarName);
	}

	/**
	 * 删除$!{tableInfo.comment}
	 */
	@PostMapping("/delete")
	public void delete($!pk.shortType id) {
		${serviceVarName}.deleteById(id);
	}

}
