##导入宏定义、设置包名、类名、文件名##导入宏定义
$!{define.vm}
#setPackageSuffix("service")
#setTableSuffix("Service")
#save("/service", "Service.java")

##拿到主键
#if(!$tableInfo.pkColumn.isEmpty())
    #set($pk = $tableInfo.pkColumn.get(0))
#end
##实体类名、主键类名
#set($entityShortType = $!tableInfo.name)
#set($entityType = $!tableInfo.psiClassObj.getQualifiedName())
#set($entityVarName = $!tool.firstLowerCase($!tableInfo.name))
#set($pkShortType = $!pk.shortType)
#set($pkType = $!pk.type)

import $pkType;
import $entityType;
import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;
import java.util.Collection;
import java.util.List;


/**
 * $!{tableInfo.comment}业务层
 *
 * @author $!author
 * @since $!time.currTime()
 */
public interface $!{tableName} {

    void save($entityShortType $entityVarName);

    void deleteById($pkShortType id);

    $entityShortType findById($pkShortType id);

    List<$entityShortType> findById(Collection<$pkShortType> ids);

    Page<$entityShortType> list(Pageable page);

}
