$callback.setFileName($tool.append($tableInfo.name, "Mapper.xml"))
$callback.setSavePath($tool.append($callback.savePath, "/mapper"))

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${packageName}.dao.${tableInfo.name}Mapper">
    <resultMap id="BaseResultMap" type="${packageName}.bean.${tableInfo.name}">
        #foreach($column in $tableInfo.pkColumn)

        <id column="$column.obj.name" jdbcType="$column.jdbcType" property="$column.name"/>
        #end
        #foreach($column in $tableInfo.otherColumn)

        <id column="$column.obj.name" jdbcType="$column.jdbcType" property="$column.name"/>
        #end

    </resultMap>

    <insert id="insert" parameterType="${packageName}.bean.${tableInfo.name}" useGeneratedKeys="true">
        INSERT INTO ${tableInfo.obj.name} (
#foreach($column in $tableInfo.pkColumn)
            $column.obj.name,
#end
#foreach($column in $tableInfo.otherColumn)

            $column.obj.name#if($velocityHasNext),#end
#end

        ) VALUES (
#foreach($column in $tableInfo.pkColumn)
            #{$column.name, jdbcType=$column.jdbcType},
#end
#foreach($column in $tableInfo.otherColumn)

            #{$column.name, jdbcType=$column.jdbcType}#if($velocityHasNext),#end
#end

        )
    </insert>

    <insert id="insertSelective" parameterType="${packageName}.bean.${tableInfo.name}" useGeneratedKeys="true">
        INSERT INTO ${tableInfo.obj.name} (
        <trim suffixOverrides=",">
#foreach($column in $tableInfo.pkColumn)

            $column.obj.name,
#end
            #foreach($column in $tableInfo.otherColumn)

#if($column.notNull)
            $column.obj.name#if($velocityHasNext),#end
#else
            <if test="$column.name != null and $column.name != ''">
                $column.obj.name#if($velocityHasNext),#end

            </if>
#end
            #end

        </trim>
        ) VALUES (
        <trim suffixOverrides=",">
#foreach($column in $tableInfo.pkColumn)

            #{$column.name, jdbcType=$column.jdbcType},
#end
            #foreach($column in $tableInfo.otherColumn)

#if($column.notNull)
            #{$column.name, jdbcType=$column.jdbcType}#if($velocityHasNext),#end
#else
            <if test="$column.name != null and $column.name != ''">
                #{$column.name, jdbcType=$column.jdbcType}#if($velocityHasNext),#end

            </if>
#end
            #end

        </trim>
        )
    </insert>

    <update id="update" parameterType="${packageName}.bean.${tableInfo.name}">
        UPDATE ${tableInfo.obj.name}
        SET
#foreach($column in $tableInfo.otherColumn)

        $column.obj.name = #{$column.name, jdbcType=$column.jdbcType}#if($velocityHasNext),#end
#end

        WHERE
        $tableInfo.pkColumn.get(0).obj.name = #{$tableInfo.pkColumn.get(0).name, jdbcType=$tableInfo.pkColumn.get(0).jdbcType}
    </update>

    <update id="updateSelective" parameterType="${packageName}.bean.${tableInfo.name}">
        UPDATE ${tableInfo.obj.name}
        SET
        <trim suffixOverrides=",">
#foreach($column in $tableInfo.otherColumn)

            <if test="$column.name != null and $column.name != ''">
                $column.obj.name = #{$column.name, jdbcType=$column.jdbcType}#if($velocityHasNext),#end

            </if>
#end

        </trim>
        WHERE
        $tableInfo.pkColumn.get(0).obj.name = #{$tableInfo.pkColumn.get(0).name, jdbcType=$tableInfo.pkColumn.get(0).jdbcType}
    </update>

    <update id="updateByQ" >
        UPDATE ${tableInfo.obj.name}
        SET
#foreach($column in $tableInfo.otherColumn)

        $column.obj.name = #{t.$column.name, jdbcType=$column.jdbcType}#if($velocityHasNext),#end
#end

        WHERE 1=1
#foreach($column in $tableInfo.fullColumn)
#if($column.ext.query)

        <if test="q.$column.name != null and q.$column.name != ''">
            AND $column.obj.name = #{q.$column.name, jdbcType=$column.jdbcType}#if($velocityHasNext)#end

        </if>
#end
#end

    </update>

    <update id="updateSelectiveByQ" >
        UPDATE ${tableInfo.obj.name}
        SET
        <trim suffixOverrides=",">
#foreach($column in $tableInfo.otherColumn)

            <if test="t.$column.name != null and t.$column.name != ''">
                $column.obj.name = #{t.$column.name, jdbcType=$column.jdbcType}#if($velocityHasNext),#end

            </if>
#end

        </trim>
        WHERE 1=1
#foreach($column in $tableInfo.fullColumn)
#if($column.ext.query)

        <if test="q.$column.name != null and q.$column.name != ''">
            AND $column.obj.name = #{q.$column.name, jdbcType=$column.jdbcType}#if($velocityHasNext)#end

        </if>
#end
#end

    </update>

    <select id="selectById" parameterType="string" resultMap="BaseResultMap">
        SELECT * FROM ${tableInfo.obj.name} WHERE $tableInfo.pkColumn.get(0).obj.name = #{id}
    </select>

    <select id="selectByQ" parameterType="${packageName}.query.${tableInfo.name}Query" resultMap="BaseResultMap">
        SELECT * FROM ${tableInfo.obj.name} WHERE 1=1
#foreach($column in $tableInfo.fullColumn)
#if($column.ext.query)

        <if test="$column.name != null and $column.name != ''">
            AND $column.obj.name = #{$column.name, jdbcType=$column.jdbcType}#if($velocityHasNext)#end

        </if>
#end
#end

    </select>

    <select id="selectListByQ" parameterType="${packageName}.query.${tableInfo.name}Query" resultMap="BaseResultMap">
        SELECT * FROM ${tableInfo.obj.name} WHERE 1=1
#foreach($column in $tableInfo.fullColumn)
#if($column.ext.query)

        <if test="$column.name != null and $column.name != ''">
            AND $column.obj.name = #{$column.name, jdbcType=$column.jdbcType}#if($velocityHasNext)#end

        </if>
#end
#end

    </select>
</mapper>