$callback.setFileName($tool.append($tableInfo.name, "Mapper.xml"))
$callback.setSavePath($tool.append($callback.savePath, "/mapper"))

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${packageName}.dao.${tableInfo.name}Mapper">
    <resultMap id="BaseResultMap" type="${packageName}.bean.${tableInfo.name}">
        #foreach($column in $tableInfo.pkColumn)

        <id column="$column.obj.name" jdbcType="$column.jdbcType" property="$column.name"/>
        #end
        #foreach($column in $tableInfo.otherColumn)

        <id column="$column.obj.name" jdbcType="$column.jdbcType" property="$column.name"/>
        #end

    </resultMap>

</mapper>