$callback.setFileName($tool.append($tableInfo.name, "Service.java"))
$callback.setSavePath($tool.append($callback.savePath, "/service"))

package ${packageName}.service;

import com.yhxd.bgn.common.service.IService;
import ${packageName}.bean.${tableInfo.name};
import ${packageName}.query.${tableInfo.name}Query;

/**
* $!{tableInfo.comment}(${tableInfo.name})表服务类
*
* @author $author
* @version 1.0
* @since $tool.datetime("yyyy/M/d H:m")
*/
public interface ${tableInfo.name}Service extends IService<${tableInfo.name},${tableInfo.name}Query> {

}
